@page
@model ViewDataModel
@{
    ViewData["Title"] = "View Data";
}

<div>
    <h1>Stored Information</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonInfoList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Mobile</td>
                    <td>@item.Address</td>
                </tr>
            }
        </tbody>
    </table>
</div>
